@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Chivo+Mono:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
*{ 
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
      
}
body {
    background-image: url(background.svg);
    background-color: #020011;
    background-position: center;
    background-attachment: fixed;
  }
  .middle {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
  }
  .bar {
    width: 10px;
    height: 70px;
    background: #fff;
    display: inline-block;
    transform-origin: bottom center;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
    /*   box-shadow:5px 10px 20px inset rgba(255,23,25.2); */
    animation: loader 1.2s linear infinite;
  }
  .bar1 {
    animation-delay: 0.1s;
  }
  .bar2 {
    animation-delay: 0.2s;
  }
  .bar3 {
    animation-delay: 0.3s;
  }
  .bar4 {
    animation-delay: 0.4s;
  }
  .bar5 {
    animation-delay: 0.5s;
  }
  .bar6 {
    animation-delay: 0.6s;
  }
  .bar7 {
    animation-delay: 0.7s;
  }
  .bar8 {
    animation-delay: 0.8s;
  }
  
  @keyframes loader {
    0% {
      transform: scaleY(0.1);
      background: #265C4B;
    }
    50% {
      transform: scaleY(1);
      background: #8FC1B5;
    }
    100% {
      transform: scaleY(0.1);
      background: transparent;
    }
  }
  
  
  nav{
      display: flex;
      height: 80px;
      width: 100%;
      background: none;
      align-items: center;
      justify-content: space-between;
      padding: 0 50px 0 100px;
      flex-wrap: wrap;
    }
    nav .logo{
      color: #fff;
      font-size: 35px;
      font-weight: 600;
    }
    nav .logo span{
        color: #ffd000;
    }
    nav ul{
      display: flex;
      flex-wrap: wrap;
      list-style: none;
    }
    nav ul li{
      margin: 0 5px;
    }
    nav ul li a{
      color: #ffd000;
      text-decoration: none;
      font-size: 18px;
      font-weight: 500;
      padding: 8px 15px;
      border-radius: 5px;
      letter-spacing: 1px;
      transition: all 0.3s ease;
    }
    nav ul li a.active,
    nav ul li a:hover{
      color: #fff;
    }
    nav .menu-btn i{
      color: #fff;
      font-size: 22px;
      cursor: pointer;
      display: none;
      }
      input[type="checkbox"]{
      display: none;
      }
    @media (max-width: 1000px){
      nav{
        padding: 0 40px 0 50px;
      }
    }
    @media (max-width: 920px) {
      nav .menu-btn i{
        display: block;
      }
      #click:checked ~ .menu-btn i:before{
        content: "\f00d";
      }
      nav ul{
        position: fixed;
        top: 80px;
        left: -100%;
        background: #020011;
        height: 100vh;
        width: 100%;
        text-align: center;
        display: block;
        transition: all 0.3s ease;
      }
      #click:checked ~ ul{
        left: 0;
      }
      nav ul li{
        width: 100%;
        margin: 40px 0;
      }
      nav ul li a{
        width: 100%;
        margin-left: -100%;
        display: block;
        font-size: 20px;
        transition: 0.6s cubic-bezier(0.68, -0.55, 0.265, 1.55);
      }
      #click:checked ~ ul li a{
        margin-left: 0px;
      }
      nav ul li a.active,
      nav ul li a:hover{
        background: none;
        color: #fff;
      }
    }

    .yazi{
        position: absolute;
        top: 65%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-align: center;
        z-index: -1;
        width: 100%;
        padding: 0 30px;
        color: #B4BEC9;
        
      }
      .yazi div{
        font-family: 'Chivo Mono', monospace;
        font-size: 35px;
        font-weight: 700;
      }   
